
    <!-- End Featured content" -->
    <!-- Promos -->
    

            <div class="footer" style="margin-top: 40px;">
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <!-- Support -->
                <div class="support">
                    <h6>Support</h6>
                    <ul class="links">
                        <li>
                            <a href="#" title="About us" class="title">About us</a>
                        </li>
                        <li>
                            <a href="#" title="Typography" class="title">Typography</a>
                        </li>
                        <li>
                            <a href="#" title="Retina-ready icons" class="title">Retina-ready icons</a>
                        </li>
                        <li>
                            <a href="#" title="Buttons" class="title">Buttons</a>
                        </li>
                        <li>
                            <a href="#" title="Elements" class="title">Elements</a>
                        </li>
                        <li>
                            <a href="#" title="Grids" class="title">Grids</a>
                        </li>
                        <li>
                            <a href="#" title="Store locator" class="title">Store locator</a>
                        </li>
                        <li>
                            <a href="#" title="Contact us" class="title">Contact us</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="support" -->
                <hr>
                <!-- My account -->
                <div class="account">
                    <h6>My account</h6>
                    <ul class="links">
                                                    <li><a href="#" title="Login / Register">Login / Register</a></li>
                                            </ul>
                </div>
                <!-- End class="account"-->

            </div>
            <div class="col-md-2">

                <!-- Categories -->
                <div class="categories">
                    <h6>Shop</h6>
                                        <ul class="links">
                                                <li>
                            <a href="/category/denim">Denim</a>
                        </li>
                                                <li>
                            <a href="/category/pants">Pants</a>
                        </li>
                                            </ul>
                                    </div>
                <!-- End class="categories" -->
            </div>
            <div class="col-md-4">
                <!-- Pay with confidence -->
                <div class="confidence">
                    <h6>Pay with confidence</h6>
                    <!-- additional card images available in resource images folder -->
                    <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/visa.png" alt="We accept all major credit cards">
                    <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/mastercard.png" alt="We accept all major credit cards">
                    <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/paypal.png" alt="We accept all major credit cards">
                </div>
                <!-- End class="confidence" -->
            </div>
            <div class="col-md-4">
                <!-- Newsletter subscription -->
                <div class="newsletter">
                    <h6>Newsletter subscription</h6>
                    <form onsubmit="$('#newsletter_subscribe').modal('show'); return false;" enctype="multipart/form-data" action="index.html" method="post">

                        <div class="input-append">
                            <input type="text" class="col-md-3" name="email">
                            <button class="btn" type="submit">Go!</button>
                        </div>
                    </form>
                    <p>Sign up to receive our latest news and updates direct to your inbox</p>
                </div>
                <!-- End class="newsletter" -->

                <hr>

                <!-- Social icons -->
                <div class="social">
                    <h6>Socialize with us</h6>
                    <ul class="social-icons">
                        <li>
                            <a class="twitter" href="#" title="Twitter">Twitter</a>
                        </li>
                        <li>
                            <a class="facebook" href="#" title="Facebook">Facebook</a>
                        </li>
                        <li>
                            <a class="pinterest" href="#" title="Pinterest">Pinterest</a>
                        </li>
                        <li>
                            <a class="youtube" href="#" title="YouTube">YouTube</a>
                        </li>
                        <li>
                            <a class="vimeo" href="#" title="Vimeo">Vimeo</a>
                        </li>
                        <li>
                            <a class="flickr" href="#" title="Flickr">Flickr</a>
                        </li>
                        <li>
                            <a class="googleplus" href="#" title="Google+">Google+</a>
                        </li>
                        <li>
                            <a class="dribbble" href="#" title="Dribbble">Dribbble</a>
                        </li>
                        <li>
                            <a class="tumblr" href="#" title="Tumblr">Tumblr</a>
                        </li>
                        <li>
                            <a class="digg" href="#" title="Digg">Digg</a>
                        </li>
                        <li>
                            <a class="linkedin" href="#" title="LinkedIn">LinkedIn</a>
                        </li>
                        <li>
                            <a class="instagram" href="#" title="Instagram">Instagram</a>
                        </li>
                    </ul>
                </div>
                <!-- End class="social" -->
            </div>
        </div>
    </div>
</div>
<!-- Newsletter modal window -->
<div id="newsletter_subscribe" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="hgroup title">
            <h3>You are now subscribed to our newsletter</h3>
            <h5>All the latest deals and offers will be making their way to your inbox shortly!</h5>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button data-dismiss="modal" aria-hidden="true" class="btn btn-small">
            Close &nbsp; <i class="icon-ok"></i>
            </button>
        </div>
    </div>
</div>
