<div class="col-md-12">
    <div class="content">
        <h1>Get in touch!</h1>
        <p class="lead">Our opening hours are Monday to Friday — 9:00 to 18:00 GMT</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus ante, convallis ut scelerisque at, pellentesque
            vitae justo. Integer ac euismod risus, nec placerat diam. Praesent interdum justo sem, non mollis sapien porta
            vel. Suspendisse ut lectus sit amet velit congue lacinia.</p>
        <hr>
        <div class="row-fluid">
            <div class="col-md-4">
                <h5><em class="icon-map-marker icon-larger"></em> La Boutique</h5>
                <p>Clocktower Mews<br>Newmarket CB88LL<br>United Kingdom</p>
            </div>
            <div class="col-md-4">
                <h5><em class="icon-phone icon-larger"></em> Call us</h5>
                <p>Well, don't really call us as we do not offer telephone support :)<br><strong>+44 1234 567 890</strong></p>
            </div>
            <div class="col-md-4">
                <h5><em class="icon-medkit icon-larger"></em> Support</h5>
                <p>A dedicated team provides timely and effective <a href="#">support</a> whenever you need a hand getting things
                    right.</p>
            </div>
        </div>
    </div>
</div>