
<div class="row">
                <div class="col-md-9">
                        <div class="heading">
                            <h3>Latest Products</h3>
                        </div>
                        <br />
                    <!-- Products list -->
                         <ul class="product-list isotope" style="position: relative; overflow: hidden;">

                            <li *ngFor="let product of products"  class="standard isotope-item" >
                            <a [routerLink]="['/product', product._id]" title="{{ product.title }}">
                                <div class="image">
                                    <img alt="{{ product.title }}" class="primary" src="{{ product.imageUrl }}">
                                    <img alt="{{ product.title }}" class="secondary" src="{{ product.imageUrl }}">
                                
                                </div>
                                <div class="title">
                                    <div class="prices">
                                        <span class="price">${{ product.price }}</span>
                                    </div>
                                    <h3>{{ product.title }}</h3>
                                </div>
                            </a>
                            </li>

                            </ul>                                  
                    <!-- End class="product-list isotope" -->
                                    </div>
                <div class="col-md-3">
                    <!-- Categories widget -->
                    <div class="widget Categories">
                        <h3 class="widget-title widget-title ">Categories</h3>
                        <categories></categories>
                    </div>
                    <!-- End class="widget Categories" -->
    
                    <!-- This month only! widget -->
                    <div class="widget Text">
                        <h3 class="widget-title widget-title ">Search by</h3>
                        <input class="form-control" type="text" [(ngModel)]="search"/>
                    </div>
                    <!-- End class="widget Text" -->
    
                </div>
            </div>
