<form class="custom" onsubmit="return false" method="post" action="/product/black-pant">
              <div id="product-page">
          <!-- Product content -->
<section class="product">
    <!-- Product info -->
    <section class="product-info">
        <div class="container" itemscope="" itemtype="http://data-vocabulary.org/Product">
            <div class="row">
                <div class="col-md-4">
                    <div class="product-images">
                        <div class="box">
                            <div class="primary">          
                                <img src="{{product.imageUrl}}" alt="">
                            </div>
                              <div class="thumbs" id="gallery">
                                <ul class="thumbs-list">
                                    <li>
                                        <a class="active" href="">
                                        <img src="{{product.imageUrl}}" alt="">
                                        </a>
                                    </li>
                                  </ul>
                            </div>             
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Product content -->
                    <div class="product-content">
                        <div class="box">
                            <!-- Tab panels' navigation -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#product" data-toggle="tab">
                                    <i class="icon-reorder icon-large"></i>
                                    <span class="hidden-phone">Product</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#description" data-toggle="tab">
                                    <i class="icon-info-sign icon-large"></i>
                                    <span class="hidden-phone">Description</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Tab panels' navigation -->
                            <!-- Tab panels container -->
                            <div class="tab-content">
                                <!-- Product tab -->
                                <div class="tab-pane active" id="product" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                    <div class="details">
                                        <h1 itemprop="name">{{product.title}}</h1>
                                        <div class="prices">
                                            <span class="price" itemprop="price">${{product.price}}</span>
                                            <meta itemprop="currency" content="USD">
                                        </div>
                                        <div class="meta">
                                            <div class="sku">
                                                <i class="icon-pencil"></i>
                                                <span itemprop="identifier" content="sku" rel="tooltip" title="" data-original-title="SKU is black-pant">black-pant</span>
                                            </div>
                                            <div class="categories"> 
                                                <ul class="links">
                                                <span itemprop="category"><i class="icon-tags"></i><a href="#" title="Pants">Pants</a></span>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                         <div class="short-description">
                                            {{product.body}}
                                        </div>                                                                          
                                            <div class="add-to-cart">
                                                <input type="hidden" name="productId" value="6">
                                                <button (click)="addToCart(product)" class="btn btn-primary btn-large" id="addtocart">
                                                <i class="icon-plus"></i> &nbsp; Add to cart</button>
                                            </div>
                                                                                                                
                                </div>
                                <!-- End id="product" -->

                                <!-- Description tab -->
                                <div class="tab-pane" id="description" itemprop="description">
                                    <p>{{product.body}}</p>
                                </div>
                                <!-- End id="description" -->
                            </div>
                            <!-- End tab panels container -->

                        </div>

                    </div>
                    <!-- End class="product-content" -->

                </div>
            </div>
        </div>
    </section>
    <!-- End class="product-info" -->
     <!-- Product Reviews -->
    <section class="product-reviews">
        <div class="container">
            <div class="col-md-8 offset2">
                <h5>Tell us why you <span class="script">love❤</span> this product</h5>

                <!-- Facebook comments -->
                <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/iPrOY23SGAp.js?version=42#channel=f337a657cd34a84&amp;origin=https%3A%2F%2Flaboutique.lemonstand.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
                

                <div class="fb-comments fb_iframe_widget" data-width="730" data-href="https://laboutique.lemonstand.com/product/black-pant" data-num-posts="10" fb-xfbml-state="rendered"><span style="height: 183px; width: 730px;"><iframe id="f2a1e8da927a94" name="fbbdc2b69f2164" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=242074712647742&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FiPrOY23SGAp.js%3Fversion%3D42%23cb%3Df204f0a2c56c7%26domain%3Dlaboutique.lemonstand.com%26origin%3Dhttps%253A%252F%252Flaboutique.lemonstand.com%252Ff337a657cd34a84%26relation%3Dparent.parent&amp;href=https%3A%2F%2Flaboutique.lemonstand.com%2Fproduct%2Fblack-pant&amp;locale=en_GB&amp;numposts=10&amp;sdk=joey&amp;width=730" style="border: none; overflow: hidden; height: 183px; width: 730px;"></iframe></span></div>
                <!-- End Facebook comments -->
                
            </div>
        </div>		
    </section>
    <!-- End class="product-reviews" -->
    <!-- Added to cart modal window -->
    <div id="added" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="hgroup title">
                <h3>You're one step closer to owning this product!</h3>
                <h5>"Black Pant" has been added to your cart</h5>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <a href="/cart" class="btn btn-primary btn-small">
                Go to cart &nbsp; <i class="icon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- End id="added" -->
</section>
<!-- End class="product-info" -->
        </div>
      </form>
      <br />
      <br />