<div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="#" class="main-menu-button">Navigation</a>
                <!-- Begin Menu Container -->
                <div class="megamenu_container">
                    <div class="menu-main-navigation-container">
                        <ul id="menu-main-navigation" class="main-menu">
                            <li class=" menu-item-home menu-item-has-children megamenu-parent">
                                <a [routerLink]="'/'">Home</a>
                            </li>
                            <li class="">
                                <a [routerLink]="'products'">Shop</a>                                                      
                            </li>
                            <li class="">
                                <a [routerLink]="'categories'">Categories</a>                                                      
                            </li>
                            <li class=""><a [routerLink]="'products'">About</a></li>
                            <li class=""><a [routerLink]="'contact'">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 visible-desktop">
                
            </div>
        </div>
    </div>
    