<div class="col-md-12">
    <div class="content">
        
            <form class="custom" method="post" action="/cart">
        <div id="cart-content">    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Cart -->
                <div class="box">
                    <div class="box-header">
                        
                        <h3>Shopping cart</h3>
                        <h5 *ngIf="cartItems && cartItems.length > 0">You currently have <strong>{{ cartItems.length}}</strong> item(s) in your cart</h5>
                        <h5 *ngIf="cartItems && cartItems.length <= 0">You currently have <strong>0</strong> item in your cart</h5>
                    </div>
    
                    <!-- Cart Items -->
                    <div class="box-content" *ngIf="cartItems && cartItems.length > 0">
                        <div class="cart-items">
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th class="col_product text-left">Product</th>
                                        <th class="col_remove text-right">Action</th>
                                        <th class="col_qty text-right">Qty</th>
                                        <th class="col_single text-right">Single</th>
                                        <th class="col_discount text-right">Discount</th>
                                        <th class="col_total text-right">Total</th>
                                    </tr>
                                </thead>

                                <tbody>	
                                                        <tr *ngFor="let cart of cartItems">
                                            <td data-title="Product" class="col_product text-left">
                                                <div class="image visible-desktop">
                                                    <a href="#">
                                                        <img style="width: 100%;" src="{{cart.imageUrl}}">
                                                    </a>
                                                </div>
                        
                                                <h5>
                                                    <a href="#">{{cart.title}}</a>
                                                </h5>
                        
                                                <ul class="options">
                                                                                                            </ul>
                                                
                                            </td>
                                        <td data-title="Remove" class="col_remove text-right">
                                                    <a href="#">
                                                        <i class="icon-trash icon-large"></i>
                                                    </a>
                                                </td>
                                                                    
                                                                        <td data-title="Qty" class="col_qty text-right">
                                                    <input class="form-control" type="text" name="item_quantity[586b9a7620249]" value="1">
                                                </td>
                                                                    
                                            <td data-title="Single" class="col_single text-right">
                                                <span class="single-price">${{cart.price}}</span>
                                            </td>
                        
                                            <td data-title="Discount" class="col_discount text-right">
                                                <span class="discount">$0.00</span>
                                            </td>
                        
                                            <td data-title="Total" class="col_total text-right">
                                                <span class="total-price">${{cart.price}}</span>
                                            </td>
                                        </tr>
                                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Cart Items -->
    
                    <div class="box-footer" *ngIf="cartItems && cartItems.length > 0">
                        <div class="pull-left">
                            <a [routerLink]="'/products'" class="btn btn-small">
                            <i class="icon-chevron-left"></i> &nbsp; Continue shopping
                            </a>
                        </div>
                        <div class="pull-right">

                            <button class="btn btn-small mm20" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart">
                            <i class="icon-undo"></i> &nbsp; Update cart
                            </button>
                            <a class="btn btn-primary btn-small mm20" [routerLink]="'/checkout'">Checkout</a>
                                
                        </div>
                    </div>
                </div>
                
                <!-- Shipping modal -->
                
                <!-- End Shipping modal -->
            </div>
            <div class="col-md-3">
    
                <!-- Cart details -->
                <div class="cart-details">
                    <div class="box">
                        <div class="hgroup title">
                            <h3>Order totals</h3>
                            <h5>Shipping costs and taxes will be evaluated during checkout</h5>
                        </div>
                        <ul class="price-list">
                            <li>Subtotal: <strong>${{cartService.getTotalPrice()}}</strong></li>
                            <li class="important">Total: <strong>${{cartService.getTotalPrice()}}</strong></li>
                        </ul>
                    </div>
                </div>
                <!-- End class="cart-details" -->
    
                <!-- Coupon -->
                <div class="coupon">
                    <div class="box">
                        <div class="hgroup title">
                            <h3>Coupon code</h3>
                            <h5>Enter your coupon here to redeem</h5>
                        </div>
    
                        <label for="coupon_code">Coupon code</label>
                        <div class="input-append">
                            <input class="form-control" id="coupon_code" value="" type="text" name="coupon">
                            <button type="submit" class="btn" value="Apply" name="set_coupon_code">
                            <i class="icon-ok"></i>
                            </button>
                        </div>
    
                    </div>
                </div>
                <!-- End class="coupon" -->
            </div>
        </div>
    </div>
</div>
    </form>

    </div>
</div>