<h3>Sign In</h3>

<div *ngIf="error" class="alert alert-danger">
  <strong>{{error}}</strong>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
	<div class="form-group">
		<label for="email">Email</label>
        <input type="text" class="form-control" name="email" ngModel required >
    </div>

    <div class="form-group">
		<label for="password">Password</label>
        <input type="password" class="form-control" name="password" ngModel required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>