<h3>Sign Up</h3>

<div *ngIf="error" class="alert alert-danger">
  <strong>{{error}}</strong>
</div>

<form #f="ngForm" (ngSubmit)="signup(f.value)">
	<div class="form-group">
		<label for="name">Email</label>
        <input type="text" class="form-control" ngControl="email" required>
    </div>

    <div class="form-group">
		<label for="name">Password</label>
        <input type="password" class="form-control" ngControl="password" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>