<div class="wrapper">
        <!-- Header -->
            <div class="header">
    <!-- Top bar -->
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                    Help Line
                    </p>
                </div>
                <div class="col-md-6 ">
                    <ul class="inline pull-right" *ngIf="isAuth">
                            <li><a [routerLink]="'/logout'" title="Logout">Logout</a></li>
                    </ul>
                    <ul class="inline pull-right" *ngIf="!isAuth">
                            <li><a [routerLink]="'/signin'" title="Login">Login</a> / <a [routerLink]="'/signup'" title="Register">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End class="top" -->
    <!-- Logo & Search bar -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="logo">
                        <a [routerLink]="'/'" title="← Back home">
                        <img src="//d151ufcidijoq9.cloudfront.net/store-ctymko-test-52d08555555ba/themes/la-boutique-2ndreview/resources/images/logo.png" alt="La Boutique">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row-fluid">
                        <div class="col-md-10">

                            <!-- Search
                            <div class="search">
                                <div class="qs_s">
                                    <form method="get" action="//laboutique.lemonstand.com/search">
                                        <input type="text" name="query" id="query" placeholder="Search store…" autocomplete="off" value="">
                                    </form>
                                </div>
                            </div> -->
                            <!-- End class="search"-->

                        </div>
                        <div class="col-md-2">

                            <!-- Mini cart -->
                            <div id="mini-cart" class="mini-cart">
                                <a [routerLink]="'/cart'" title="Go to cart →">
                                    <span *ngIf="cartItems && cartItems.length > 0">{{ cartItems.length}}</span>
                                    <span *ngIf="cartItems && cartItems.length <= 0">0</span>
                                </a>
                            </div>
                            <!-- End class="mini-cart" -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End class="bottom" -->
</div>
        <!-- End Header -->
        
        <!-- Navigation -->
            <nav class="navigation">
                <nav></nav>
                
            </nav>
        <!-- End class="navigation" -->

        